<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720431863335-3fs6pc87jbjurpq4geon72msf7js1idn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720431863335-3fs6pc87jbjurpq4geon72msf7js1idn</string>
	<key>API_KEY</key>
	<string>AIzaSyDppPund196PgDPhCc5VRzyN8GeuUQvKxM</string>
	<key>GCM_SENDER_ID</key>
	<string>720431863335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atv1</string>
	<key>PROJECT_ID</key>
	<string>fresh-iridium-388814</string>
	<key>STORAGE_BUCKET</key>
	<string>fresh-iridium-388814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720431863335:ios:8c76a25aeb4ae4eda86002</string>
</dict>
</plist>